<section class="about">
	<div class="about__bg"></div>
	<div class="container">
		<h1 class="title about__title">
			<span><span class="title--blue">Н</span>овинки и популярные товары из Китая</span>
		</h1>
		<p class="text about__text">Сегодня мы расскажем, как находить китайские новинки и как первыми занять нишу с уникальным новым товаром и продавать самые популярные товары из Китая раньше конкурентов.</p>
		<h2 class="about__subtitle">Информация будет полезна:</h2>
		<div class="about__icons">
			<img class="about__icon" src="img/icons/about-icon1.png" alt="">
			<img class="about__icon" src="img/icons/about-icon2.png" alt="">
			<img class="about__icon" src="img/icons/about-icon3.png" alt="">
			<img class="about__icon" src="img/icons/about-icon4.png" alt="">
		</div>
		<ul class="about__list">
			<li class="about__list-item">
				<p class="about__list-title">если</p>
				<p class="about__list-text">хотите зарабатывать больше,продавая новинки из Китая
				на новинки Китая можно сделать 3-х, 5-ти или даже 10-ти кр атную наценку в интернет-магазине или торговой точке.</p>
			</li>
			<li class="about__list-item">
				<p class="about__list-title">если</p>
				<p class="about__list-text">у Вас есть база оптовых клиентов, которые покупают товары из Китая Вы сможете выделяться среди множества других оптовых продавцов за счет уникального предложения, продавая новые и популярные товары из Китая оптом.</p>
			</li>
			<li class="about__list-item">
				<p class="about__list-title">если</p>
				<p class="about__list-text">Ваш основной заработок - это продажа товаров с «одностраничников». новинки китайского рынка будут покупать охотнее, да и наценку на них можно сделать высокую, так как товар новый и конкуренция еще низкая.</p>
			</li>
			<li class="about__list-item">
				<p class="about__list-title">если</p>
				<p class="about__list-text">мониторите и отслеживаете тенденции и новинки рынка Китая весной и осенью миллионы людей отправляются в Китай с целью изучения новинок китайских товаров, чтобы «быть в теме».</p>
			</li>
		</ul>
		<button class="btn about__btn">Хочу купить новинки из Китая</button>
		<p class="about__desc">Конечно, могут быть и другие причины, по которым Вас заинтересуют новые и в будущем популярные товары из Китая, а выше перечислены - основные, с которыми мы чаще сталкиваемся в нашей работе.</p>
	</div>
</section>
