<section class="advice">
	<div class="container">
		<h1 class="title advice__title">
			<span><span class="title--blue">К</span>ак найти подходящий товар и привезти новинку первым</span>
		</h1>
	</div>
	<div class="advice__item advice__item1">
		<div class="advice__header">
			<div class="container">
				<p class="advice__header-text">Лучший вариант - Эксклюзив</p>
			</div>
		</div>
		<div class="container advice__text-inner">
			<p class="text advice__text">Можно попытаться получить у производителя эксклюзив. Попытаться стоит, хотя в большинстве случаев Вам, скорее всего, откажут. Многое зависит от типа товара, от расположенности к сотрудничеству собственника и от того, на каком рынке Вы хотите получить эксклюзив. Что же касается рынка игрушек, то давать эксклюзив по рынкам - это обычная практика.</p>
			<p class="text advice__text">Также важно, чтобы поставщик сдержал своё слово, а это напрямую зависит от его порядочности. Если он не китаец, а уроженец Сингапура, Гонконга, Тайваня, например, то вероятность того, что он сдержит слово по эксклюзиву достаточно высока.</p>
			<p class="text advice__text">У компании Fialan есть данные о проверенных производителях, в которых можно не сомневаться и не волноваться на счет предоставленных ими обещаний. Поэтому Вам не придется переживать на счет их порядочности. Также наши эксперты проводят проверку новых поставщиков.</p>
		</div>
	</div>
	<div class="advice__item advice__item2">
		<div class="advice__header">
			<div class="container advice__header-after">
				<p class="advice__header-text">Вариант 2 - Скорость</p>
			</div>
		</div>
		<div class="container advice__text-inner">
			<p class="text advice__text">Если об эксклюзивности не удалось договориться, то хорошим вариантом будет решение, которое позволит привезти новинку на Ваш рынок первым. Для этого необходимо будет быстро принять решение о покупке партии товара.</p>
			<p class="text advice__text">В данном случае нужно будет выбрать авиа доставку - самую быструю среди возможных. Но не обязательно всё доставлять самолётом. Можно отправить лишь часть товара на авиа, а остальное ЖД или морем. Так Вы сможете начать продавать китайские новинки первым и существенно сэкономите, разделив способы доставки.</p>
		</div>
	</div>
	<div class="advice__item advice__item3">
		<div class="advice__header">
			<div class="container advice__header-after">
				<p class="advice__header-text">Вариант 3 - Уникализировать</p>
			</div>
		</div>
		<div class="container advice__text-inner">
			<p class="text advice__text">Можно улучшить или модифицировать понравившийся товар, сделать уникальное предложение. Уникальности можно достичь, изменив комплектацию, “облагородить” упаковку, добавив аксессуары, сделать перевод инструкции, использовать эксклюзивные цвета, добавить новые функции, используя другие более качественные материалы и т.д.</p>
			<p class="text advice__text">В Китае Вам изготовят всё, что угодно и как Вы захотите, исходя из Ваших финансовых возможностей. Главное найдите и работайте с прямым производителем.</p>
		</div>
	</div>
	<div class="advice__item advice__item4">
		<div class="container advice__header">
			<div class="advice__header-after">
				<p class="advice__header-text">Вариант 4 - Мониторинг</p>
			</div>
		</div>
		<div class="container advice__text-inner">
			<p class="text advice__text">Когда Вы знаете о новинке из Китая и ждёте её появления на китайском рынке, а точнее ищите новые модификации и апгрейд.</p>
			<p class="text advice__text">Например, сначала появились менее мощные Powerbank, а теперь есть настоящие “монстры”. Ранее были лишь проводные зарядные устройства, а теперь набирают популярность беспроводные.</p>
			<p class="text advice__text">Если не ограничиваться лишь выставками в Китае, то можно ориентироваться на трендовые товары в других странах, которые еще не продаются у нас, но, например, в Америке это ХИТ продаж.</p>
			<p class="text advice__text">Хорошим источником для идей могут стать краудфандинговые площадки. Отслеживая популярность новых товаров и предложений, можно опередить время и наладить производство совершенного нового продукта под своим брендом. Останется только найти хорошую фабрику в Китае для производства.</p>
		</div>
	</div>
	<div class="advice__item advice__item5">
		<div class="advice__header">
			<div class="container">
				<p class="advice__header-text">Вариант 5 - Брендирование</p>
			</div>
		</div>
		<div class="container advice__text-inner">
			<p class="text advice__text">Если у Вас есть собственный бренд, то можно нанести Лого и маркировку вашей компании, подготовить рекламные материалы с подробным описанием новинки и её преимуществах. Далее, для вывода товара на рынок, останется лишь представить новинки товаров на специализированной выставке в Вашей стране. Параллельно запустить рекламную кампанию на аудиторию, лояльную к продукции Вашего бренда.</p>
		</div>
	</div>
</section>