<section class="article">
	<div class="container article__container">
		<div class="article__text-inner">
			<h1 class="title article__title">
				<span><span class="title--blue article__title">И</span>так, почему Весна и Осень?</span>
			</h1>
			<p class="text article__text">Потому что именно в этот период в Китае проходят самые известные выставки международного масштаба. Здесь ищут новые тенденции, фишки и трендовые товары из Китая, которых еще нет в других странах. Обязательно найдутся новинки из Китая, которые будут популярны в ближайшие несколько лет. И их важно найти и использовать прямо сейчас, чтобы хорошо заработать, опередив конкурентов.
			</p>
			<p class="text">Поэтому за каждый товар с потенциалом бестселлера идёт жесткая конкуренция между покупателями.</p>
			<button class="btn article__btn">Варианты поиска товара</button>
		</div>
		<div class="article__img-inner">
			<figure class="article__img1">
				<img class="img" src="img/img/article-screen.png" alt="">
			</figure>
			<figure class="article__img article__img2">
				<img class="img" src="img/img/article-img2.png" alt="">
			</figure>
			<figure class="article__img article__img3">
				<img class="img" src="img/img/article-img3.png" alt="">
			</figure>
			<figure class="article__img article__img4">
				<img class="img" src="img/img/article-flower.png" alt="">
			</figure>
		</div>
	</div>
</section>