<section class="facts">
	<div class="container">
		<h1 class="title facts__title">
			<span><span class="title--blue">В</span>ажные факты про китайские новинки на выставках</span>
		</h1>
		<div class="facts__content">
			<div class="facts__text-inner">
				<p class="text facts__text">Самой популярной группой товаров в последние годы было и есть оборудование для производства и малого бизнеса. В Китае Вы найдёте практически любое оборудование по ценам в разы ниже европейских аналогов.</p>
				<p class="text facts__text">Очень интересные товары можно увидеть на выставке у стендов новых компаний или узкоспециализированных фабрик. Они находятся не на виду, с краёв выставки, в пролётах или местах с худшей проходимостью. Будьте внимательны!</p>
				<p class="text facts__text">Не стесняйтесь спрашивать у представителей фабрик, что у них сейчас чаще заказывают, какие модели популярнее, какие товары только появились и т.п. В этом нет ничего плохого, да и на вопросы китайцы отвечают весьма охотно.
				</p>
			</div>
			<div class="facts__info-inner">
				<p class="facts__info">Узнать больше о Кантонской віыставке Вы можете тут:</p>
				<a class="facts__link" href="https://youtu.be/pouapNLGSq0">https://youtu.be/pouapNLGSq0</a>
				<figure class="facts__video">
					<img class="img lazy" data-src="../img/img/video.png" alt="">
				</figure>
			</div>
		</div>
	</div>
	<div class="facts__footer">
		<div class="container">
			<p class="facts__contacts">Чтобы связаться с нами заполните, пожалуйста, форму ниже!</p>
		</div>
	</div>

</section>