<footer class="footer">
	<div class="container">
		<div class="footer__content">
		<div class="footer__form-inner">
			<p class="footer__title">Свяжитесь с нами</p>
			<form action="" class="footer__form form">
				<input class="form__input footer__input" type="text" placeholder="Ваше имя:"/>
				<input class="form__input footer__input" type="text" placeholder="Ваш электронный адрес:"/>
				<input class="form__input footer__input" type="text" placeholder="Ваш номер телефона:"/>
				<input class="form__input footer__input" type="text" placeholder="Ваш город:"/>
				<div class="form__input form__select" id="fSelect">
					<p id="fSelectTitle" class="footer__select-title">Вид услуги:</p>
					<div class="form__checkbox">
						<label class="checkbox__label">
							<input class="checkbox" type="checkbox" id="" name="checkbox"/>Авиадоставка
						</label>
						<label class="checkbox__label">
							<input class="checkbox" type="checkbox" id="" name="checkbox"/>Атестация предприятия
						</label>
						<label class="checkbox__label">
							<input class="checkbox" type="checkbox" id="" name="checkbox"/>Бизнес тур
						</label>
						<label class="checkbox__label">
							<input class="checkbox" type="checkbox" id="" name="checkbox"/>Доставка морем
						</label>
						<label class="checkbox__label">
							<input class="checkbox" type="checkbox" id="" name="checkbox"/>Доставка из других стран
						</label>
						<label class="checkbox__label">
							<input class="checkbox" type="checkbox" id="" name="checkbox"/>Заочное посещение выставки
						</label>
						<label class="checkbox__label">
							<input class="checkbox" type="checkbox" id="" name="checkbox"/>Контроль качества
						</label>
						<label class="checkbox__label">
							<input class="checkbox" type="checkbox" id="" name="checkbox"/>Маркетинговое исследование
						</label>
						<label class="checkbox__label">
							<input class="checkbox" type="checkbox" id="" name="checkbox"/>Мебельный тур
						</label>
						<label class="checkbox__label">
							<input class="checkbox" type="checkbox" id="" name="checkbox"/>Сопровождение сделок
						</label>
						<label class="checkbox__label">
							<input class="checkbox" type="checkbox" id="" name="checkbox"/>Таможенное оформление
						</label>
						<label class="checkbox__label">
							<input class="checkbox" type="checkbox" id="" name="checkbox"/>Семинар, тренинг
						</label>
						<label class="checkbox__label">
							<input class="checkbox" type="checkbox" id="" name="checkbox"/>Экспорт
						</label>
						<label class="checkbox__label">
							<input class="checkbox" type="checkbox" id="" name="checkbox"/>Другая услуга
						</label>
					</div>
				</div>
				<textarea class="form__input" rows="7" placeholder="Ваш вопрос:"></textarea>

				<p class="form__info">* Нажимая кнопку, вы соглашаетесь с <span class="form__info--color">политикой конфиденциальности</span></p>
				<button class="form__button">Отправить</button>
			</form>
		</div>
		<div class="footer__news">
			<h2 class="footer__title">Последние новости</h2>
			<div class="footer__news-inner">
				<div class="footer__subtitle">
					<div class="footer__news-date">
						<p class="footer__news-day">27</p>
						<p>сен,</p>
						<p>18</p>
					</div>
					<a class="footer__link" href="">Поездка в китай - лучше один раз увидеть</a>
					<p class="footer__text">Темой поездок в Китай интересуются многие. Кто-то хочет начать бизнес с Китаем, кто-то уже давно ведет бизнес…</p>
				</div>
				<div class="footer__subtitle">
					<div class="footer__news-date">
						<p class="footer__news-day">26</p>
						<p>сен,</p>
						<p>18</p>
					</div>
					<a class="footer__link" href="">Юристы Fialan в Китае взыскали для своего клиента задолженность 30000 долларов США за майнеры</a>
					<p class="footer__text">В июле 2018 в Fialan за помощью обратился предприниматель, который в июне 2017 года разместил в Китае…</p>
				</div>
				<div class="footer__subtitle">
					<div class="footer__news-date">
						<p class="footer__news-day">26</p>
						<p>июнь,</p>
						<p>18</p>
					</div>
					<a class="footer__link" href="">Победа Fialan в суде</a>
					<p class="footer__text">Сколько раз вы слышали о том, что с китайскими компаниями сложно судиться, что невозможно выиграть суд в…</p>
				</div>
			</div>
			<button class="footer__news-button footer__news-prev"><</button>
			<button class="footer__news-button footer__news-next">></button>

			
		</div>
		<div class="footer__contacts">
					
		</div>


	</div>
	</div>
</footer>