<section class="ways">
	<div class="container">
		<h1 class="title ways__title">
			<span><span class="title--blue">2</span> способа, чтобы узнать, какие китайские товары набирают популярность, и получить контакты производителя</span>
		</h1>
		<div class="ways__content">
			<figure class="ways__number">
				<img src="../img/img/num1.png" alt="">
			</figure>
			<div class="ways__column">
				<p class="ways__subtitle">СПОСОБ</p>
				<figure class="ways__img">
					<img class="img lazy" data-src="img/img/ways1.png" alt="">
				</figure>
				<p class="text weys__text">
					Мы организовываем Вам поездку от А до Я на любую китайскую выставку, если Вам важно всё увидеть и пощупать своими руками.
				</p>
			</div>
			<figure class="ways__number">
				<img src="../img/img/num2.png" alt="">
			</figure>
			<div class="ways__column">
				<p class="ways__subtitle">СПОСОБ</p>
				<figure class="ways__img">
					<img class="img lazy" data-src="../img/img/ways2.png" alt="">
				</figure>
				<p class="text weys__text">
					Вы поручаете поиск интересного товара нашим экспертам в Китае, которые соберут также контактные данные продавцов. После выставки Вам пришлют каталоги и прайс-листы с образцами.
				</p>
			</div>
		</div>
		<button class="btn ways__btn">Хочу купить новинки из Китая</button>
		<p class="ways__desc">В дальнейшем компания Fialan также помогает в ведении переговоров с поставщиками и заключении контрактов, а также занимается доставкой из Китая под ключ.</p>
	</div>
</section>